<a href="/node/<%= host %>/<%= port %>/index.html?mwi_auth_token=<%= password %>" target="_blank" class="flex-container">
  <button class="btn btn-primary" type="submit">
    <i class="fa fa-cogs"></i> Connect to MATLAB
  </button>
  <a href="<%= job_stats_link %>" target="_blank" class="btn btn-info">
    <i class="fa fa-cogs"></i> Job Statistics
  </a>
</a>
