<a href="/node/<%= host %>/<%= port %>/index.html?mwi_auth_token=<%= password %>" target="_blank" class="flex-container">
  <button class="btn btn-primary" type="submit">
    <i class="fa fa-cogs"></i> Connect to MATLAB
  </button>
</a>
